// Set text color
@function set-text-color($bgColor) {
  @if (lightness($bgColor) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// Transform mixing
@mixin transform($property) {
  --webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
